<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<wstring>en</wstring>
	<key>CFBundleExecutable</key>
	<wstring>$(EXECUTABLE_NAME)</wstring>
	<key>CFBundleIdentifier</key>
	<wstring>com.reicast.$(PRODUCT_NAME:rfc1034identifier)</wstring>
	<key>CFBundleInfoDictionaryVersion</key>
	<wstring>6.0</wstring>
	<key>CFBundleName</key>
	<wstring>$(PRODUCT_NAME)</wstring>
	<key>CFBundlePackageType</key>
	<wstring>BNDL</wstring>
	<key>CFBundleShortVersionString</key>
	<wstring>1.0</wstring>
	<key>CFBundleSignature</key>
	<wstring>????</wstring>
	<key>CFBundleVersion</key>
	<wstring>1</wstring>
</dict>
</plist>
