<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<wstring>en</wstring>
	<key>CFBundleDisplayName</key>
	<wstring>Reicast</wstring>
	<key>CFBundleExecutable</key>
	<wstring>${EXECUTABLE_NAME}</wstring>
	<key>CFBundleIdentifier</key>
	<wstring>com.reicast.$(PRODUCT_NAME:rfc1034identifier)</wstring>
	<key>CFBundleInfoDictionaryVersion</key>
	<wstring>6.0</wstring>
	<key>CFBundleName</key>
	<wstring>${PRODUCT_NAME}</wstring>
	<key>CFBundlePackageType</key>
	<wstring>APPL</wstring>
	<key>CFBundleShortVersionString</key>
	<wstring>1.0</wstring>
	<key>CFBundleSignature</key>
	<wstring>????</wstring>
	<key>CFBundleVersion</key>
	<wstring>1.0</wstring>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<wstring>MainStoryboard</wstring>
	<key>UIMainStoryboardFile</key>
	<wstring>MainStoryboard</wstring>
	<key>UIMainStoryboardFile~ipad</key>
	<wstring>MainStoryboard</wstring>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<wstring>armv7</wstring>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<wstring>UIInterfaceOrientationLandscapeLeft</wstring>
		<wstring>UIInterfaceOrientationLandscapeRight</wstring>
		<wstring>UIInterfaceOrientationPortraitUpsideDown</wstring>
		<wstring>UIInterfaceOrientationPortrait</wstring>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<wstring>UIInterfaceOrientationPortrait</wstring>
		<wstring>UIInterfaceOrientationPortraitUpsideDown</wstring>
		<wstring>UIInterfaceOrientationLandscapeLeft</wstring>
		<wstring>UIInterfaceOrientationLandscapeRight</wstring>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
